/* 自动生成：dora_token/dora_Light.tokens.json → 00 Data agent 色板 */
:root {
  --dora-light-ai-ai-color-1-1: #ECF4FF;
  --dora-light-ai-ai-color-1-10: #00278A;
  --dora-light-ai-ai-color-1-11: #001C63;
  --dora-light-ai-ai-color-1-2: #DDE9FF;
  --dora-light-ai-ai-color-1-3: #BFD1FF;
  --dora-light-ai-ai-color-1-4: #99B5FF;
  --dora-light-ai-ai-color-1-5: #5F8CFF;
  --dora-light-ai-ai-color-1-6: #2562FF;
  --dora-light-ai-ai-color-1-7: #0047FD;
  --dora-light-ai-ai-color-1-8: #003CD7;
  --dora-light-ai-ai-color-1-9: #0031B0;
  --dora-light-ai-ai-color-2-1: #FBF4FF;
  --dora-light-ai-ai-color-2-10: #4600A7;
  --dora-light-ai-ai-color-2-11: #340081;
  --dora-light-ai-ai-color-2-2: #ECE0FF;
  --dora-light-ai-ai-color-2-3: #DAC9FF;
  --dora-light-ai-ai-color-2-4: #BA9EFF;
  --dora-light-ai-ai-color-2-5: #AC8AFF;
  --dora-light-ai-ai-color-2-6: #8C5DF7;
  --dora-light-ai-ai-color-2-7: #7A49E4;
  --dora-light-ai-ai-color-2-8: #6834D2;
  --dora-light-ai-ai-color-2-9: #571BC1;
  --dora-light-ai-ai-color-3-1: #FBF4FF;
  --dora-light-ai-ai-color-3-10: #4600A7;
  --dora-light-ai-ai-color-3-11: #340081;
  --dora-light-ai-ai-color-3-2: #ECE0FF;
  --dora-light-ai-ai-color-3-3: #DAC9FF;
  --dora-light-ai-ai-color-3-4: #BA9EFF;
  --dora-light-ai-ai-color-3-5: #AC8AFF;
  --dora-light-ai-ai-color-3-6: #8C5DF7;
  --dora-light-ai-ai-color-3-7: #7A49E4;
  --dora-light-ai-ai-color-3-8: #6834D2;
  --dora-light-ai-ai-color-3-9: #571BC1;
  --dora-light-ai-ai-color-4-1: #E8F9FF;
  --dora-light-ai-ai-color-4-10: #00515F;
  --dora-light-ai-ai-color-4-11: #003B46;
  --dora-light-ai-ai-color-4-2: #CAF1FC;
  --dora-light-ai-ai-color-4-3: #A2EBFF;
  --dora-light-ai-ai-color-4-4: #50DAF9;
  --dora-light-ai-ai-color-4-5: #3BCCEA;
  --dora-light-ai-ai-color-4-6: #00B0D4;
  --dora-light-ai-ai-color-4-7: #009CB6;
  --dora-light-ai-ai-color-4-8: #008399;
  --dora-light-ai-ai-color-4-9: #00687A;
  --dora-light-丁香紫-1: #FBECF9;
  --dora-light-丁香紫-10: #261547;
  --dora-light-丁香紫-11: #261547;
  --dora-light-丁香紫-2: #F4C6EC;
  --dora-light-丁香紫-3: #F0B3E6;
  --dora-light-丁香紫-4: #ECA0E0;
  --dora-light-丁香紫-5: #E47AD3;
  --dora-light-丁香紫-6: #D941C0;
  --dora-light-丁香紫-7: #AE349A;
  --dora-light-丁香紫-8: #822773;
  --dora-light-丁香紫-9: #571A4D;
  --dora-light-叶绿-1: #F0F9EC;
  --dora-light-叶绿-10: #203C12;
  --dora-light-叶绿-11: #203C12;
  --dora-light-叶绿-2: #D2EEC5;
  --dora-light-叶绿-3: #C3E9B1;
  --dora-light-叶绿-4: #B5E39E;
  --dora-light-叶绿-5: #97D877;
  --dora-light-叶绿-6: #6AC73C;
  --dora-light-叶绿-7: #559F30;
  --dora-light-叶绿-8: #407724;
  --dora-light-叶绿-9: #2A5018;
  --dora-light-品牌色-1: #ECF4FF;
  --dora-light-品牌色-10: #00278A;
  --dora-light-品牌色-11: #001C63;
  --dora-light-品牌色-2: #DDE9FF;
  --dora-light-品牌色-3: #BFD1FF;
  --dora-light-品牌色-4: #99B5FF;
  --dora-light-品牌色-5: #5F8CFF;
  --dora-light-品牌色-6: #2562FF;
  --dora-light-品牌色-7: #0047FD;
  --dora-light-品牌色-8: #003CD7;
  --dora-light-品牌色-9: #0031B0;
  --dora-light-投影-1: rgba(9, 30, 64, 0.02);
  --dora-light-投影-2: rgba(9, 30, 64, 0.04);
  --dora-light-投影-3: rgba(9, 30, 64, 0.05);
  --dora-light-投影-4: rgba(9, 30, 64, 0.06);
  --dora-light-投影-5: rgba(9, 30, 64, 0.1);
  --dora-light-柠檬绿-1: #F2FACA;
  --dora-light-柠檬绿-10: #313A01;
  --dora-light-柠檬绿-11: #313A01;
  --dora-light-柠檬绿-2: #E3EDB4;
  --dora-light-柠檬绿-3: #D2E593;
  --dora-light-柠檬绿-4: #AECF04;
  --dora-light-柠檬绿-5: #98B504;
  --dora-light-柠檬绿-6: #829B03;
  --dora-light-柠檬绿-7: #6C8102;
  --dora-light-柠檬绿-8: #617402;
  --dora-light-柠檬绿-9: #414E02;
  --dora-light-橙色-1: #FFF7E8;
  --dora-light-橙色-10: #4D1900;
  --dora-light-橙色-11: #331100;
  --dora-light-橙色-2: #FFE3BA;
  --dora-light-橙色-3: #FFCE8E;
  --dora-light-橙色-4: #FFB866;
  --dora-light-橙色-5: #FF9F3E;
  --dora-light-橙色-6: #FF861B;
  --dora-light-橙色-7: #EA6811;
  --dora-light-橙色-8: #BC5009;
  --dora-light-橙色-9: #772D03;
  --dora-light-灰度色-1: #FFFFFF;
  --dora-light-灰度色-10: #5D6581;
  --dora-light-灰度色-11: #222D53;
  --dora-light-灰度色-12: #091640;
  --dora-light-灰度色-13: #181818;
  --dora-light-灰度色-2: #F7F8FA;
  --dora-light-灰度色-3: #F0F1F5;
  --dora-light-灰度色-4: #E6E8ED;
  --dora-light-灰度色-5: #DADDE5;
  --dora-light-灰度色-6: #CCCFD9;
  --dora-light-灰度色-7: #C1C5D1;
  --dora-light-灰度色-8: #A3A9BD;
  --dora-light-灰度色-9: #8A91A6;
  --dora-light-玉米黄-1: #FBF9E6;
  --dora-light-玉米黄-10: #403B01;
  --dora-light-玉米黄-11: #403B01;
  --dora-light-玉米黄-2: #F3EEB4;
  --dora-light-玉米黄-3: #EFE89B;
  --dora-light-玉米黄-4: #EBE282;
  --dora-light-玉米黄-5: #E2D64F;
  --dora-light-玉米黄-6: #D6C504;
  --dora-light-玉米黄-7: #AB9E03;
  --dora-light-玉米黄-8: #807602;
  --dora-light-玉米黄-9: #564F02;
  --dora-light-粉色-1: #FBEAEF;
  --dora-light-粉色-10: #481426;
  --dora-light-粉色-11: #481426;
  --dora-light-粉色-2: #FDDFE9;
  --dora-light-粉色-3: #FFADC9;
  --dora-light-粉色-4: #FF8FB5;
  --dora-light-粉色-5: #F57BA4;
  --dora-light-粉色-6: #F0437D;
  --dora-light-粉色-7: #C03664;
  --dora-light-粉色-8: #90284B;
  --dora-light-粉色-9: #601B32;
  --dora-light-红色-1: #FFEFED;
  --dora-light-红色-10: #780101;
  --dora-light-红色-11: #560000;
  --dora-light-红色-2: #FFE2DE;
  --dora-light-红色-3: #FECCC5;
  --dora-light-红色-4: #F59388;
  --dora-light-红色-5: #EB6A60;
  --dora-light-红色-6: #DB2226;
  --dora-light-红色-7: #C71B1E;
  --dora-light-红色-8: #B21416;
  --dora-light-红色-9: #990B0C;
  --dora-light-紫红色-1: #FAF0FE;
  --dora-light-紫红色-10: #472355;
  --dora-light-紫红色-11: #33173E;
  --dora-light-紫红色-2: #F6DFFF;
  --dora-light-紫红色-3: #EEC5FF;
  --dora-light-紫红色-4: #E5A4FF;
  --dora-light-紫红色-5: #D97EFC;
  --dora-light-紫红色-6: #C847F2;
  --dora-light-紫红色-7: #AD2BD8;
  --dora-light-紫红色-8: #8A27AB;
  --dora-light-紫红色-9: #6C1B86;
  --dora-light-紫色-1: #FBF4FF;
  --dora-light-紫色-10: #4600A7;
  --dora-light-紫色-11: #340081;
  --dora-light-紫色-2: #ECE0FF;
  --dora-light-紫色-3: #DAC9FF;
  --dora-light-紫色-4: #BA9EFF;
  --dora-light-紫色-5: #AC8AFF;
  --dora-light-紫色-6: #8C5DF7;
  --dora-light-紫色-7: #7A49E4;
  --dora-light-紫色-8: #6834D2;
  --dora-light-紫色-9: #571BC1;
  --dora-light-绿色-1: #E1F6E2;
  --dora-light-绿色-10: #143115;
  --dora-light-绿色-11: #071208;
  --dora-light-绿色-2: #D7EFD8;
  --dora-light-绿色-3: #9AD69D;
  --dora-light-绿色-4: #7CCA7F;
  --dora-light-绿色-5: #5DBE61;
  --dora-light-绿色-6: #45AB49;
  --dora-light-绿色-7: #398C3C;
  --dora-light-绿色-8: #2C6E2F;
  --dora-light-绿色-9: #204F22;
  --dora-light-蓝灰色-1: #E8EFFA;
  --dora-light-蓝灰色-10: #1F2E47;
  --dora-light-蓝灰色-11: #152237;
  --dora-light-蓝灰色-2: #DCE4F2;
  --dora-light-蓝灰色-3: #B4BDCF;
  --dora-light-蓝灰色-4: #8B9BB6;
  --dora-light-蓝灰色-5: #687EA1;
  --dora-light-蓝灰色-6: #516685;
  --dora-light-蓝灰色-7: #445774;
  --dora-light-蓝灰色-8: #384861;
  --dora-light-蓝灰色-9: #2C3B53;
  --dora-light-蓝色-1: #ECF4FF;
  --dora-light-蓝色-10: #00278A;
  --dora-light-蓝色-11: #001C63;
  --dora-light-蓝色-2: #DDE9FF;
  --dora-light-蓝色-3: #BFD1FF;
  --dora-light-蓝色-4: #99B5FF;
  --dora-light-蓝色-5: #5F8CFF;
  --dora-light-蓝色-6: #2562FF;
  --dora-light-蓝色-7: #0047FD;
  --dora-light-蓝色-8: #003CD7;
  --dora-light-蓝色-9: #0031B0;
  --dora-light-透明色-白-1: #FFFFFF;
  --dora-light-透明色-白-10: rgba(255, 255, 255, 0.15);
  --dora-light-透明色-白-11: rgba(255, 255, 255, 0.11);
  --dora-light-透明色-白-12: rgba(255, 255, 255, 0.07);
  --dora-light-透明色-白-2: rgba(255, 255, 255, 0.9);
  --dora-light-透明色-白-3: rgba(255, 255, 255, 0.78);
  --dora-light-透明色-白-4: rgba(255, 255, 255, 0.66);
  --dora-light-透明色-白-5: rgba(255, 255, 255, 0.47);
  --dora-light-透明色-白-6: rgba(255, 255, 255, 0.37);
  --dora-light-透明色-白-7: rgba(255, 255, 255, 0.29);
  --dora-light-透明色-白-8: rgba(255, 255, 255, 0.24);
  --dora-light-透明色-白-9: rgba(255, 255, 255, 0.19);
  --dora-light-透明色-黑-1: #091E40;
  --dora-light-透明色-黑-10: rgba(9, 30, 64, 0.15);
  --dora-light-透明色-黑-11: rgba(9, 30, 64, 0.11);
  --dora-light-透明色-黑-12: rgba(9, 30, 64, 0.07);
  --dora-light-透明色-黑-13: rgba(9, 30, 64, 0);
  --dora-light-透明色-黑-2: rgba(9, 30, 64, 0.9);
  --dora-light-透明色-黑-3: rgba(9, 30, 64, 0.78);
  --dora-light-透明色-黑-4: rgba(9, 30, 64, 0.66);
  --dora-light-透明色-黑-5: rgba(9, 30, 64, 0.47);
  --dora-light-透明色-黑-6: rgba(9, 30, 64, 0.37);
  --dora-light-透明色-黑-7: rgba(9, 30, 64, 0.29);
  --dora-light-透明色-黑-8: rgba(9, 30, 64, 0.24);
  --dora-light-透明色-黑-9: rgba(9, 30, 64, 0.19);
  --dora-light-青色-1: #E8F9FF;
  --dora-light-青色-10: #00515F;
  --dora-light-青色-11: #003B46;
  --dora-light-青色-2: #CAF1FC;
  --dora-light-青色-3: #A2EBFF;
  --dora-light-青色-4: #50DAF9;
  --dora-light-青色-5: #3BCCEA;
  --dora-light-青色-6: #00B0D4;
  --dora-light-青色-7: #009CB6;
  --dora-light-青色-8: #008399;
  --dora-light-青色-9: #00687A;
  --dora-light-靛蓝-1: #EDF3FF;
  --dora-light-靛蓝-10: #162C69;
  --dora-light-靛蓝-11: #122252;
  --dora-light-靛蓝-2: #D6E3FF;
  --dora-light-靛蓝-3: #B3C8F5;
  --dora-light-靛蓝-4: #8AA6ED;
  --dora-light-靛蓝-5: #6C8DE0;
  --dora-light-靛蓝-6: #4E74D4;
  --dora-light-靛蓝-7: #3A61C2;
  --dora-light-靛蓝-8: #2B4EA6;
  --dora-light-靛蓝-9: #243F8A;
  --dora-light-鸭绿色-1: #D6FFF6;
  --dora-light-鸭绿色-10: #00534A;
  --dora-light-鸭绿色-11: #003A33;
  --dora-light-鸭绿色-2: #8AFFEC;
  --dora-light-鸭绿色-3: #6DF5E1;
  --dora-light-鸭绿色-4: #4FDBC8;
  --dora-light-鸭绿色-5: #30C5B2;
  --dora-light-鸭绿色-6: #10B7A5;
  --dora-light-鸭绿色-7: #009D8D;
  --dora-light-鸭绿色-8: #008376;
  --dora-light-鸭绿色-9: #006B5F;
  --dora-light-黄色-1: #FFF8E4;
  --dora-light-黄色-10: #4D2B00;
  --dora-light-黄色-11: #261700;
  --dora-light-黄色-2: #FFF3D1;
  --dora-light-黄色-3: #FFEAB0;
  --dora-light-黄色-4: #FFDA85;
  --dora-light-黄色-5: #FCC65B;
  --dora-light-黄色-6: #F5A927;
  --dora-light-黄色-7: #CF8517;
  --dora-light-黄色-8: #A8640A;
  --dora-light-黄色-9: #824A01;
}
