/* 自动生成：dora_token/Data agent.tokens.json */
:root {
  --fd-border-radius: 6px;
  --fd-border-radius-lg: 8px;
  --fd-border-radius-sm: 4px;
  --fd-border-radius-xl: 10px;
  --fd-border-radius-xs: 2px;
  --fd-button-height-text: 32px;
  --fd-button-height-text-lg: 40px;
  --fd-button-height-text-sm: 24px;
  --fd-button-padding-text: 8px;
  --fd-button-padding-text-lg: 12px;
  --fd-button-secondary-color-bg: #DDE9FF;
  --fd-button-secondary-color-bg-active: #BFD1FF;
  --fd-button-secondary-color-bg-error: #FFE2DE;
  --fd-button-secondary-color-bg-error-active: #FECCC5;
  --fd-button-secondary-color-bg-error-hover: #FFEFED;
  --fd-button-secondary-color-bg-hover: #ECF4FF;
  --fd-color-ai-outline-default: rgba(9, 30, 64, 0.15);
  --fd-color-bg-container: #FFFFFF;
  --fd-color-bg-container-disabled: rgba(9, 30, 64, 0.07);
  --fd-color-bg-container-grey: #F7F8FA;
  --fd-color-bg-container-grey-secondary: #F0F1F5;
  --fd-color-bg-container-grey-tertiary: #E6E8ED;
  --fd-color-bg-container-secondary: rgba(255, 255, 255, 0.66);
  --fd-color-bg-container-tertiary: rgba(255, 255, 255, 0.37);
  --fd-color-bg-elevated: #FFFFFF;
  --fd-color-bg-elevated-fixation: #FFFFFF;
  --fd-color-bg-mask-white: rgba(255, 255, 255, 0.66);
  --fd-color-bg-shape: rgba(9, 30, 64, 0.15);
  --fd-color-bg-spotilight: #222D53;
  --fd-color-bg-text-active: #DDE9FF;
  --fd-color-bg-text-error-active: #FFE2DE;
  --fd-color-bg-text-error-hover: #FFEFED;
  --fd-color-bg-text-hover: #ECF4FF;
  --fd-color-bg-text-normal-active: rgba(9, 30, 64, 0.11);
  --fd-color-bg-text-normal-hover: rgba(9, 30, 64, 0.07);
  --fd-color-black: #181818;
  --fd-color-border: #DADDE5;
  --fd-color-border-primary: #C1C5D1;
  --fd-color-border-secondary: #E6E8ED;
  --fd-color-border-tertiary: #F0F1F5;
  --fd-color-error: #DB2226;
  --fd-color-error-active: #C71B1E;
  --fd-color-error-bg: #FFEFED;
  --fd-color-error-bg-avtive: #FECCC5;
  --fd-color-error-bg-hover: #FFE2DE;
  --fd-color-error-border: #FECCC5;
  --fd-color-error-border-hover: #F59388;
  --fd-color-error-hover: #EB6A60;
  --fd-color-error-text: #DB2226;
  --fd-color-error-text-active: #C71B1E;
  --fd-color-error-text-hover: #EB6A60;
  --fd-color-fill: rgba(9, 30, 64, 0.24);
  --fd-color-fill-alter: rgba(9, 30, 64, 0.07);
  --fd-color-fill-content: rgba(9, 30, 64, 0.19);
  --fd-color-fill-quaternary: rgba(9, 30, 64, 0.07);
  --fd-color-fill-secondary: rgba(9, 30, 64, 0.19);
  --fd-color-fill-tertiary: rgba(9, 30, 64, 0.11);
  --fd-color-icon: rgba(9, 30, 64, 0.66);
  --fd-color-icon-active: #091E40;
  --fd-color-icon-disabled: rgba(9, 30, 64, 0.29);
  --fd-color-icon-hover: rgba(9, 30, 64, 0.78);
  --fd-color-icon-normal: rgba(9, 30, 64, 0.78);
  --fd-color-info: #2562FF;
  --fd-color-info-active: #0047FD;
  --fd-color-info-bg: #ECF4FF;
  --fd-color-info-bg-hover: #DDE9FF;
  --fd-color-info-border: #BFD1FF;
  --fd-color-info-border-hover: #99B5FF;
  --fd-color-info-hover: #99B5FF;
  --fd-color-info-text: #2562FF;
  --fd-color-info-text-active: #0047FD;
  --fd-color-info-text-hover: #5F8CFF;
  --fd-color-link: #2562FF;
  --fd-color-link-active: #0047FD;
  --fd-color-link-hover: #99B5FF;
  --fd-color-primary: #2562FF;
  --fd-color-primary-active: #0047FD;
  --fd-color-primary-bg: #ECF4FF;
  --fd-color-primary-bg-active: #BFD1FF;
  --fd-color-primary-bg-hover: #DDE9FF;
  --fd-color-primary-border: #BFD1FF;
  --fd-color-primary-border-hover: #99B5FF;
  --fd-color-primary-hover: #5F8CFF;
  --fd-color-primary-text: #2562FF;
  --fd-color-primary-text-active: #0047FD;
  --fd-color-primary-text-hover: #5F8CFF;
  --fd-color-split: #E6E8ED;
  --fd-color-split-white: rgba(255, 255, 255, 0.78);
  --fd-color-success: #45AB49;
  --fd-color-success-active: #398C3C;
  --fd-color-success-bg: #E1F6E2;
  --fd-color-success-bg-hover: #D7EFD8;
  --fd-color-success-border: #9AD69D;
  --fd-color-success-border-hover: #7CCA7F;
  --fd-color-success-hover: #7CCA7F;
  --fd-color-success-text: #45AB49;
  --fd-color-success-text-active: #398C3C;
  --fd-color-success-text-hover: #5DBE61;
  --fd-color-text: #091E40;
  --fd-color-text-data-disabled: rgba(9, 30, 64, 0.37);
  --fd-color-text-description: rgba(9, 30, 64, 0.66);
  --fd-color-text-disabled: rgba(9, 30, 64, 0.37);
  --fd-color-text-heading: #091E40;
  --fd-color-text-label: rgba(9, 30, 64, 0.78);
  --fd-color-text-placeholder: rgba(9, 30, 64, 0.47);
  --fd-color-text-quaternary: rgba(9, 30, 64, 0.47);
  --fd-color-text-secondary: rgba(9, 30, 64, 0.78);
  --fd-color-text-tertiary: rgba(9, 30, 64, 0.66);
  --fd-color-text-white: #FFFFFF;
  --fd-color-text-white-fixation: #FFFFFF;
  --fd-color-warning: #F5A927;
  --fd-color-warning-active: #CF8517;
  --fd-color-warning-bg: #FFF8E4;
  --fd-color-warning-bg-hover: #FFF3D1;
  --fd-color-warning-border: #FFEAB0;
  --fd-color-warning-border-hover: #FFDA85;
  --fd-color-warning-hover: #FFDA85;
  --fd-color-warning-text: #F5A927;
  --fd-color-warning-text-active: #CF8517;
  --fd-color-warning-text-hover: #FCC65B;
  --fd-color-white: #FFFFFF;
  --fd-color-white-fixation: #FFFFFF;
  --fd-color-zero: rgba(9, 30, 64, 0);
  --fd-control-height: 32px;
  --fd-control-height-lg: 40px;
  --fd-control-height-mlg: 36px;
  --fd-control-height-msm: 28px;
  --fd-control-height-sm: 24px;
  --fd-control-height-xs: 16px;
  --fd-control-item-bg-active: #ECF4FF;
  --fd-control-item-bg-active-disabled: rgba(9, 30, 64, 0.19);
  --fd-control-item-bg-active-hover: #DDE9FF;
  --fd-control-item-text-active: #091E40;
  --fd-control-outline-width: 2px;
  --fd-font-size: 14px;
  --fd-font-size-2xl: 20px;
  --fd-font-size-heading-1: 38px;
  --fd-font-size-heading-2: 30px;
  --fd-font-size-heading-3: 24px;
  --fd-font-size-heading-4: 20px;
  --fd-font-size-heading-5: 16px;
  --fd-font-size-lg: 16px;
  --fd-font-size-msm: 12px;
  --fd-font-size-sm: 12px;
  --fd-font-size-xl: 18px;
  --fd-gap: 8px;
  --fd-gap-2xl: 16px;
  --fd-gap-3xl: 20px;
  --fd-gap-4xl: 24px;
  --fd-gap-5xl: 32px;
  --fd-gap-lg: 10px;
  --fd-gap-sm: 4px;
  --fd-gap-xl: 12px;
  --fd-gap-xs: 2px;
  --fd-icon-size: 16px;
  --fd-icon-size-2sm: 12px;
  --fd-icon-size-lg: 18px;
  --fd-icon-size-sm: 14px;
  --fd-line-height: 22px;
  --fd-line-height-2xl: 28px;
  --fd-line-height-heading-1: 46px;
  --fd-line-height-heading-2: 38px;
  --fd-line-height-heading-3: 32px;
  --fd-line-height-heading-4: 28px;
  --fd-line-height-heading-5: 24px;
  --fd-line-height-lg: 24px;
  --fd-line-height-sm: 20px;
  --fd-line-height-xl: 26px;
  --fd-line-width: 1px;
  --fd-line-width-bold: 2px;
  --fd-line-width-focus: 4px;
  --fd-next-table-color-bg-header: #F7F8FA;
  --fd-next-table-color-bg-hover: #F0F1F5;
  --fd-next-table-color-bg-zebra: #F7F8FA;
  --fd-opaity-loading: 65px;
  --fd-padding: 8px;
  --fd-padding-2xl: 20px;
  --fd-padding-2xs: 2px;
  --fd-padding-3xl: 24px;
  --fd-padding-4xl: 32px;
  --fd-padding-layout: 16px;
  --fd-padding-layout-2xl: 32px;
  --fd-padding-layout-2xs: 4px;
  --fd-padding-layout-3xl: 48px;
  --fd-padding-layout-3xs: 2px;
  --fd-padding-layout-lg: 20px;
  --fd-padding-layout-sm: 12px;
  --fd-padding-layout-xl: 24px;
  --fd-padding-layout-xs: 8px;
  --fd-padding-lg: 12px;
  --fd-padding-sm: 6px;
  --fd-padding-xl: 16px;
  --fd-padding-xs: 4px;
  --fd-padding-zero: 0px;
  --fd-result-height-image: 80px;
  --fd-result-height-image-lg: 175px;
  --fd-result-height-image-sm: 60px;
  --fd-shadow-subtle: 0 0 2px rgba(9, 30, 64, 0.02), 0 1px 4px rgba(9, 30, 64, 0.06);
  --fd-slider-handle-color-disabled: #CCCFD9;
  --fd-spin-height: 20px;
  --fd-spin-height-lg: 32px;
  --fd-spin-height-sm: 14px;
  --fd-table-color-bg-select: #ECF4FF;
  --fd-tabs-gap-3xl-line: 24px;
  --fd-tabs-gap-3xl-line-lg: 24px;
  --fd-tabs-gap-3xl-line-sm: 24px;
  --fd-tabs-padding0-line: 0px;
  --fd-tooltip-padding-layout-2xs: 4px;
  --fd-tooltip-padding-layout-xs: 8px;
}
