*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family:
    'PingFang SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--fd-color-text);
  background: var(--fd-color-bg-container-grey);
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  font: inherit;
  resize: none;
}

img {
  display: block;
  max-width: 100%;
}
